html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face { 
	font-family: Volupia; 
	src: url('/VOLUPIA.OTF'); 
}

a {
	text-decoration: none;
}

body {
	background: #ccc url('gradient_squares.png');
	font-family: 'Dosis', sans-serif;
	/*font-family: 'Belgrano', serif;*/
	font-size: 16px;
	line-height: 25px;
	color: #454545;
} 

#social {
	margin-top: 10px;
	width: 240px;
	float: right;
	position: relative;		
}

#fbtip, #twtip, #lfmtip, #mbtip {
	display: none;
	z-index:100;
	position: absolute;
	line-height: 16px;
top: 50px;
 font-weight:bold; color:#fff; background:#000; font-size: 14px; font-weight: 500; text-align: left; font-family: 'Dosis', sans-serif;opacity: 0.8; border:0; padding:5px; white-space:nowrap; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}

#lfmtip {
	left: 10px;
}
#fbtip {
	left: 60px;
}
#twtip {
	left: 100px;
}
#mbtip {
	left: 140px;
}
	

#social img {
	width: 50px;
	margin: 3px;
	z-index: 99;
}

#social img:hover {
	opacity: 0.7;
}	

#hearts, #recents {
	text-align: center;
	border: 1px solid #eee;
	-moz-box-shadow: 0px 0px 10px #e1e1e1;
	-webkit-box-shadow: 0px 0px 10px #e1e1e1;
	box-shadow: 0px 0px 10px #e1e1e1;
	width: 105px;
	padding: 5px;
	position: relative;
	height: 50px;
	float: right;
	background: #333 url('low_contrast_linen.png');
	cursor: pointer;
	border-radius: 15px 15px 0px 15px;
}
#hearts {
	border-radius: 15px 15px 15px 0px;
	float: left;
}
#sidebuttons {
	position: absolute;
	top: 161px;
	right: 0px;
	width: 240px;
	height: 120px;
}

#hearts {
}

#recents:hover, #hearts:hover {
	padding-top: 7px;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-bottom: 3px;
}



#report, #feedback, #share {
	cursor: pointer;
	font-family: Volupia;
	font-size: 28px;
	line-height: 30px;
	text-shadow: 0px 3px 0px #000;
	float: left;
	padding: 15px 25px;
	font-weight: lighter;
	color: #fff;
}

#report:hover, #feedback:hover, #share:hover {
	cursor: pointer;
	color: #F4FFA6;
}

/*#report {
	border-right: 1px solid #fff;
}

#feedback {
	border-right: 1px solid #fff;
}

#share {

}*/


#numberofhearts {
	font-family: 'Belgrano', serif;
	color: #FF5D40;
	font-size: 12px;
	padding: 0px;
	top:33px;
	position: absolute;
	left: 65px;
	font-weight: bold;
	text-align: left;
}

#everything {
	position: relative;
	width: 750px;
	margin: 0 auto;
}

#wrapper {
	float: left;
	width: 500px;
	margin: 0 auto;
}

#mixest {
	transition: color 1s;
	-moz-transition: color 1s; /* Firefox 4 */
	-webkit-transition: color 1s; /* Safari and Chrome */
	-o-transition: color 1s; /* Opera */
	cursor: default;
	margin-top: 20%;
	text-align: right;
	width: 480px;
	font-size: 70px;
	line-height: 60px;
	font-family: Volupia;
	color: #333;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-shadow: 0 1px 0 #fff,
               0 2px 0 #fff,
               0 3px 0 #fff,
               0 4px 0 #fff,
               0 5px 0 #fff,
               0 6px 1px rgba(200,215,220,.2),
               0 0 5px rgba(200,215,220,.2),
               0 1px 3px rgba(200,215,220,.5),
               0 3px 5px rgba(200,215,220,.4),
               0 5px 10px rgba(200,215,220,.35),
               0 20px 20px rgba(200,215,220,.25);
}

#mixest:hover {
	color: #5A5C5A;
}

#musicplayer {
	background-color: #fff;
	border: 1px solid #eee;
	padding: 25px;
	-moz-box-shadow: 0px 0px 5px #ededed;
	-webkit-box-shadow: 0px 0px 5px #ededed;
	box-shadow: 0px 0px 5px #ededed;
	z-index: 100;
}

#information {
	letter-spacing: 1px;
	min-height: 25px;
	background-color: #f9f9f9;
	text-shadow: 0px -2px 0px #fff;
	border: 5px solid #fff;
	margin-bottom: 10px;
	margin-top: -25px;
	margin-left: -25px;
	padding: 25px;
	width: 438px;
	padding-bottom: 7px;
}

#controls {
	margin: 20px auto 0px auto;
	height: 50px;
	width: 450px;
}

#play, #pause, #lovebutton, #heards, #next {
	text-align: center;
	float: left;
	margin: 0px 50px 0px 0px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clear {
	clear: both;
}

#play:hover, #pause:hover, #lovebutton, #next:hover, #heards:hover {
	opacity: 0.7;
}

#heards {
	font-size: 35px;
	line-height: 25px;
	width: 50px;
}

#play img, #pause img, #lovebutton img, #next img {
	float: left;
	height: 50px;
}

#song-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 440px;	
	float: left;
	margin-right: 10px;
	font-size: 25px;
	line-height: 33px;
	font-weight: 700;
}

#song-artist {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 440px;	
	font-size: 18px;
	text-transform: uppercase;
	line-height: 23px;
	font-weight: 700;
	color: #FF5D40;
}

#extras {
	top: 230px;
	position: absolute;
	width: 240px;
	right: 0px;
	margin-right: 0px;
}

#loves, #recent, #playlist {
	letter-spacing: 1px;
	border-radius: 10px 0px 10px 10px;
	background-color: #80CC70;
	margin-right: 0px;
	font-size: 14px;
	line-height: 16px;
	padding: 10px 0px;
	width: 240px;
}

#loves {
	display: none;
	border-radius: 0px 10px 10px 10px;
}

#playlist {
	background-color: #F2F9BF;
}

#sharelink {
	display: none;
	text-align: center;
	padding: 30px;
}

#approved, #reportsong, #reportform {
	font-size: 15px;
	color: #fff;
	display: none;
	padding: 15px;
}
#reportform input {
	box-shadow: inset 0px 2px 5px #EDEDED;
	-moz-box-shadow: inset 0px 2px 5px #EDEDED;
	-webkit-box-shadow: inset 0px 2px 5px #EDEDED;
	border-radius: 15px;
	color: #454545;
	margin-top: 10px;
	border: 0;
	padding: 10px;
	width: 410px;
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	font-size: 15px;
}
input:focus {
	background-color: #F4FFA6;
}
#reportform button, #playlist button {
	transition: background-color 200ms;
	-moz-transition: background-color 200ms; /* Firefox 4 */
	-webkit-transition: background-color 200ms; /* Safari and Chrome */
	-o-transition: background-color 200ms; /* Opera */
	font-size: 15px;
	margin: 0px;
	border: 0;
	padding: 10px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
}

#playlist button {
	margin: 5px;
	margin-top: 10px;
	background-color: #D8E0A2;
	color: #fff;
	text-shadow: 0px 1px 0px #B2BA79;
	border-bottom: 1px solid #fff;
}

#playlist button:hover {
	background-color: #B2BA79;
}

#buttoncontainer {
	box-shadow: 0px 0px 10px #333;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	margin: 20px 0px 0px 0px;
	float: left;
}
#reportdelete {
	background-color: #f87c6e;
	text-shadow: 0px 1px 0px #D64433;
	color: #fff;
}
#reportdelete:hover {
	background-color: #D64433;
}
#reportsubmit:hover {
	background-color: #fff;
}
#reportsubmit {
	background-color: #ccc;
	text-shadow: 0px 1px 0px #fff;
	color: #454545;
}

.padding {
	padding: 0px 15px;
	font-size: 18px;
	line-height: 24px;
}

#lovescontainer, #recentcontainer, #playlistcontainer {
	font-weight: 300px;
	color: #fff;
}

#playlistcontainer {
	color: #454545;
	text-shadow: 0px 1px 0px #fff;
}

#recentcontainer strong {
	color: #338123;
}

#playlistcontainer strong {
	color: #CFD892;
}

strong {
	font-weight: 700;
}

#lovescontainer strong {
	color: #ab2b1c;
}

#loves {
	background-color: #f87c6e;
}




#contextbuttons {
	width: 480px;
	margin-left: 10px;
	z-index: 99;
	min-height: 60px;
	background: #333 url('low_contrast_linen.png');
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 100px;
}

#playlisturl {
	background-color: #fff;
	font-size: 12px;
	padding: 5px;
	width: 210px;
	border: 0;
	font-family: 'Dosis', sans-serif;
}

#shorturl {
	font-size: 25px;
	display: none;
	box-shadow: inset 0px 2px 5px #EDEDED;
	-moz-box-shadow: inset 0px 2px 5px #EDEDED;
	-webkit-box-shadow: inset 0px 2px 5px #EDEDED;
	border-radius: 15px;
	color: #454545;
	border: 0;
	padding: 10px;
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	width: 410px;
}

.evenl, .oddl {
	background-color: #fcd5d1;
	color: #f87c6e;
	padding: 2px 10px;
	text-transform: uppercase;
}

.oddl {
	background-color: #f87c6e;
	color: #fcd5d1;
}


.oddl:hover {
	background-color: #FF5B48;
}


.evenl:hover {
	background-color: #fce9e6;
}

.even, .odd, .oddp, .evenp {
	background-color: #d7efd2;
	color: #80CC70;
	padding: 2px 10px;
	text-transform: uppercase;
}

.odd {
	background-color: #80CC70;
	color: #d7efd2;
}


.odd:hover {
	background-color: #67ba56;
}

.even:hover {
	background-color: #ebf6e8;
}

.evenp {
	background-color: #F2F9BF;
	color: #CFD892;
}

.oddp {
	background-color: #CFD892;
	color: #F2F9BF;
}
 .evenp, .oddp {
	text-shadow: none;
}

.evenp:hover {
	background-color: #FBFFE0;
}

.oddp:hover {
	background-color: #B2BA79;
}

.even, .odd, .evenl, .oddl, .evenp, .oddp {
	max-width: 230;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: 'Open Sans Condensed', sans-serif;
	transition: background-color 200ms;
	-moz-transition: background-color 200ms; /* Firefox 4 */
	-webkit-transition: background-color 200ms; /* Safari and Chrome */
	-o-transition: background-color 200ms; /* Opera */
	font-weight: 300px;
}

.delete {
	cursor: pointer;
	font-weight: 700;
	float: right;
	padding: 0px 5px;
}

.delete:hover {
	cursor: pointer;
	background-color: #DB250F;
}

.lovesong {
	max-width: 200px;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.playlistsong, .oldsong, .lovesong {
	font-weight: bolder;
	cursor: pointer;
}

.playlistsong:hover, .oldsong:hover, .lovesong:hover {
	cursor: pointer;
}

/* jPlayer stylings */
.jp-progress {
	overflow: hidden;
	background-color: #EDEDED;
	width: 450px;
	height: 60px;
	font-size: 20px;
	color: #fff;
}

.jp-seek-bar {
    background-color: #F4FFA6;
    width:0px;
    height: 60px;
    opacity: 0.7;
    cursor: pointer;
}

.jp-play-bar {
    background-color: #80CC70;
    width:0px;
    height:60px;
}

.jp-duration {
    font-size: 30px;
    line-height: 60px;
    float: right;
}

.jp-current-time {
    font-size: 30px;
    line-height: 60px;
    float: left;
}

#times {
    height: 60px;
    color: #999;
    float: left;
    width: 440px;
    padding: 0px 5px;
font-weight: 500;
}

::-moz-selection {
	background-color: #F2FABC;
	color: #454545;
}
::selection {
	background-color: #F2FABC;
	color: #454545;
}
