<html lang="en"> 
<head> 
<title>mixest - more obscure for your life</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 
<meta name="description" content="Mixest is best website.">

<link href="/css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,700' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" href="/favicon.ico">

<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
<script src="/js/modernizr-yepnope.js"></script> 
<script src="/js-webshim/minified/polyfiller.js"></script> 

<script> 
    //load and implement all unsupported features 
    $.webshims.polyfill("json-storage es5");
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33570147-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<style type="text/css">
  :focus {
    outline: none;
  }
  .tooltipParent {
    position: relative;
  }
  .tooltip {
    display: none; 
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 12px;
    line-height: 16px;
    text-shadow: none;
  }
  .tooltip .ttbox {
    display:block;
    font-weight:bold;
    color:#fff;
    background:#000;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    font-family: 'Dosis',
    sans-serif;
    opacity: 0.8;
    border:0;
    padding:5px;
    white-space:nowrap;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }
  #mixest .tooltip {
    left: 80px;
    top: -20px;
  }
  #lovebutton .tooltip, #heards .tooltip, #heards .ttbox, #play .tooltip, #pause .tooltip {
    left: 10px;
    top: -40px;
    margin-right: -30px;
    max-width: 150px;
    white-space: normal;
  }
  #report .tooltip {
    top: 30px;
    left: 40px;
  }

</style>
<script type="text/javascript">
songs = <%-JSON.stringify(mp3)%>;
sk = '<%-sk%>' || localStorage.getItem('sk');
</script>
<script src="/js/index.js"></script> 

</head>
<body>

<div id="everything">

<div id="wrapper">

<div id="mixest" title="Mixest is your source for the newest indie music.">mixest</div>
<div id="sidebuttons">
  <div id="hearts">
    <span id="numberofhearts"></span></span><img src="/css/loves.png" width="40px">
  </div>
  <div id="recents">
    <div id="space"></div><img src="/css/recents.png" width="40px">
  </div>
</div>

<div id="extras">
  <div id="playlist"><div id="playlistcontainer"></div></div>
  <div id="recent"><div id="recentcontainer"><div class="padding">You haven't listened to any songs yet! When you complete a song, it'll show up here so you can see what was <strong>recently played</strong>.</div></div></div>
  <div id="loves"><div id="lovescontainer"><div class="padding">You haven't <strong>loved</strong> any songs yet! Poor songs.</div></div></div>
<div id="social">
<div id="lfmtip">Scrobble to last.fm.</div><a href="http://www.last.fm/api/auth?api_key=ea2bbf5937afa4df0d33cbd19d91ee33"><img id="lfm" src="/css/lastfm.png"></a>
<div id="fbtip">Like Mixest.</div><a href="http://www.facebook.com/mixestmusic"><img id="fb" src="/css/facebook.png"></a>
<div id="twtip">Follow Mixest on Twitter.</div><a href="http://www.twitter.com/mixestmusic"><img id="tw" src="/css/twitter.png"></a>
<div id="mbtip">Who's there?</div><a href="https://play.google.com/store/apps/details?id=com.mixest.android&hl=en"><img id="mb" src="/css/michelle.png"></a></div>
</div>
<div id="musicplayer">
  <div id="information">
    <div id="song-title"></div>
          <div id="song-artist"></div>
  </div>

  <div id="player" class="jp-jplayer"></div>

  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">

        <div class="jp-progress">
          <div id="times" class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
        </div>
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>

        
      </div>
      <div class="jp-title">
        
      </div>

      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>

  <div id="controls">
    <div id="play" class="jp-play"><img src="/css/playbutton.png"></div>
    <div id="pause" class="jp-pause"><img src="/css/pausebutton.png"></div>
    <div id="next"><img src="/css/skipbutton.png"></div>
    <div id="lovebutton"><img src="/css/lovebutton.png"></div>
    <div id="heards"><span title="If the current song isn't obscure enough for you,
    we'll make note of that!">more obscure</span></div>
    <div class="clear"></div>
  </div>

  </div>


  
</div>

<div id="contextbuttons">
  <div id="report" title="Request to change or delete a song.">
    report
  </div>
  <a href="mailto:michelle@mixest.com"><div id="feedback">
   	feedback
  </div></a>
  <div id="share">
    share
  </div>

  <div id="sharelink">
    <input type="text" readonly="readonly" id="shorturl"></input>
  </div>

  <div id="reportsong">
    <div id="reportform">
	<strong>What great power you have!</strong><br>
	You can request to make changes to this song's title and artist here, or report this song for deletion if it's broken.
	<input type="text" name="title" id="reporttitle"></input>
	<input type="text" name="artist" id="reportartist"></input>
	<div id="buttoncontainer"><button id="reportdelete">request delete</button><button id="reportsubmit">submit changes</button></div>
	<div class="clear"></div>
    </div>
	<div id="approved">
		Thank you! Your changes will take effect as soon as we approve them on our end :).
	</div>
  </div>
</div>


</div>

</div>
<script type="text/javascript">
/*<![CDATA[*/

function turnOn(o){
  if (!o.t){

    // store orginal contents as part of object
    o.t=o.title;
    o.c=o.innerHTML;

    // store tooltip build as part of the object
    o.h=o.c+'<span class="tooltip"><span class="ttbox"> '+o.title+'</span><span class="ttarrow"></span></span>';
  }
  if ($(o).css('position')=="relative"){
    o.innerHTML=o.h;
    o.title='';
  }
  $(o).find('span.tooltip').fadeIn('fast');
}

function turnOff(o){
  $(o).find('span.tooltip').fadeOut('fast');
  o.innerHTML=o.c;
  o.title=o.t;
}

// loop through all objects with a title attribute
var titles=$('[title]');
var wasMouse = false;
// use an efficient for loop as there may be a lot to cycle through
for(var i=titles.length-1;i>-1;i--){

// titled object must be position:relative
$(titles[i]).addClass('tooltipParent');

// titled object must appear in the keyboard focus
$(titles[i]).attr('tabindex','0');
// mouse & keyboard functions
$(titles[i])
  .mousedown(function(e) {wasMouse = true; })
  .hover(function(){turnOn(this);},function(){turnOff(this); })
  .focus(function(e){ if (wasMouse) {  } else { turnOn(this); } wasMouse= false;})
  .blur(function(){turnOff(this); });
}

/*]]>*/
</script>
</body>
</html>
